[Unit]
Description=Vietnam Stock Pipeline
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/u01/Vanh_projects/vietnam-stock-pipeline
ExecStart=/u01/Vanh_projects/vietnam-stock-pipeline/manage.sh start
ExecStop=/u01/Vanh_projects/vietnam-stock-pipeline/manage.sh stop
TimeoutStartSec=0

[Install]sửasửa
WantedBy=multi-user.target
